@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  textarea::-webkit-scrollbar {
    width: 0.6rem;
    cursor: pointer;
  }

  textarea::-webkit-scrollbar-track {
    background: #808180;
  }

  textarea::-webkit-scrollbar-thumb {
    background-color: #d3dfe4;
    border-radius: 1rem;
  }

  textarea::-webkit-scrollbar-thumb:hover {
    background-color: #93b0bc;
  }
}
